.exam {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1014px;
  min-height: 540px;
  max-height: 680px;
  flex: 1;
  margin: 30px auto;
  border-radius: 7px;
  box-shadow: 0px 1px 3px #dddedc;
  background-color: #f9f9f9;
  overflow: hidden;
}

.panel .top {
  position: relative;
  display: flex;
  flex: 1;
  border-bottom: 1px solid #ededed;
}

.panel .top .left {
  display: flex;
  flex-direction: column;
  width: 814px;
  border-right: 1px solid #ededed;
  background-color: #fff;
}

.panel .top .left .topic {
  height: 59px;
  margin: 0 50px;
  border-bottom: 1px solid #ededed;
  color: #333;
  font-size: 22px;
  font-weight: bold;
  font-family: "宋体";
  line-height: 59px;
}

.panel .top .left .desc {
  padding: 0 50px;
  margin: 10px 0 0 0;
  color: #333;
  font-size: 18px;
  font-family: "宋体";
}

.panel .top .left .content {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.panel .top .left .content>div {
  width: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
}

.panel .top .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.noselect {

  -webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* Internet Explorer/Edge */

  user-select: none;
  /* Non-prefixed version, currently
  
  not supported by any browser */

}

.content_error div.form-input,
.content_error div.input_warp {
  border-color: #ff6666
}

.form-item div.form-item {
  margin-bottom: 0
}

.radioGroup span.radio {
  margin-right: 0;
  padding: 5px 15px;
}

.radioGroup span.radio.active {
  color: white;
  background: #21bd73;
}

.radioGroup span.radio.active label {
  color: white;
}

.radioGroup.border span.radio {
  border: 1px solid #aaa;
  border-left: 0;
}

.radioGroup.border span.radio.active {
  color: white;
  background: #21bd73;
  border-color:  #21bd73;
}

.radioGroup.border span.radio:first-child {
  border-left: 1px solid #aaa;
}

.radioGroup.border span.radio.active:first-child {
  border-left: 1px solid #21bd73;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 986912 */
  src: url('//at.alicdn.com/t/font_986912_vwcoibd27.eot');
  src: url('//at.alicdn.com/t/font_986912_vwcoibd27.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_986912_vwcoibd27.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_986912_vwcoibd27.woff') format('woff'),
  url('//at.alicdn.com/t/font_986912_vwcoibd27.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_986912_vwcoibd27.svg#iconfont') format('svg');
}